* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h3 {
    padding: 25px;
}

.inner {
    display: flex ;
    flex-direction: row;
    justify-content: space-evenly;
}
