:root {
  --background-color-primary: #001f47;
  --background-color-white: #eaeaea;
  --background-color-white-hover: #dbdbdb;
  --background-color-black: #000000;
  --background-color-green: #186600;
  --text-color-white: #fefefe;
  --text-color-black: #000000;
}
