@forward "globals";
@forward "utils";

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-image: url(../assets/img/cool-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Header
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--background-color-green);
    text-align: center;

    p {
      font-weight: 700;
      color: var(--text-color-white);
    }
  }

  // Main
  .main {
    width: min(100% - 50px);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    background-color: #0000005d;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    @media (min-width: 1000px) {
      width: 1000px;
    }

    &__social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      gap: 20px;
      a {
        text-decoration: none;
        .icon-bg {
          width: 200px;
          height: 80px;
          background-color: var(--background-color-white);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: row nowrap;
          color: var(--text-color-black);
          transition: all ease-in-out 0.2s;
          -webkit-transition: all ease-in-out 0.2s;
          -moz-transition: all ease-in-out 0.2s;
          -ms-transition: all ease-in-out 0.2s;
          -o-transition: all ease-in-out 0.2s;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
          }

          &:hover {
            background-color: var(--background-color-white-hover);
          }
        }
      }
    }
  }
}
