# name: CD-Liara

# on:
#   workflow_dispatch:

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v3
#       - uses: actions/setup-node@v3
#         with:
#           node-version: "22"
#       - name: Install dependencies
#         run: npm ci
#       - name: Build
#         run: npm run build
#       - name: Install Liara CLI
#         run: npm i -g @liara/cli@7
#       - name: Deploy
#         env:
#           LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
#         run: |
#           liara deploy --app="koonj" --api-token="$LIARA_TOKEN" --no-app-logs --port=4000 --platform=node
